<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} | Address Book!{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.css" media="all" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.brighttheme.min.css" media="all" type="text/css" />

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/addressbookcontact/css/custom.css') }}"  />
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script>

        <script src="{{ asset('bundles/addressbookcontact/js/custom.js') }}"  ></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('default') }}">Home</a></li>
                        <li><a href="{{ path('add_contact') }}">Add Contact</a></li>
                        <li><a href="{{ path('search_contact') }}">Manage Contact</a></li>
                        <li><a href="{{ path('list_contact') }}">Contact Overview</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% for flashMessage in app.session.flashbag.get('error') %}
            <script type="text/javascript">
                $(document).ready(function() {
                    new PNotify({
                        title: 'Error',
                        text: '{{ flashMessage }}',
                        type: 'error'
                    });
                });
            </script>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <script type="text/javascript">
                $(document).ready(function() {
                    new PNotify({
                        title: 'Success',
                        text: '{{ flashMessage }}',
                        type: 'success'
                    });
                });
            </script>
        {% endfor %}

        {% block body %}{% endblock %}

        <footer class="container-fluid text-center">&nbsp;</footer>

    </body>
</html>
